@model IEnumerable<Sony.Core.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<hr />
<p>
    <a asp-action="Create"  class="btn btn-success">Shto Produkt</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th >
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    Cmimi Aktual
                    @*@Html.DisplayNameFor(model => model.CurrentPrice)*@
                </th>
                <th>
                    Sasia
                    @*@Html.DisplayNameFor(model => model.StockQuantity)*@
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockQuantity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Permirso</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Fshij</a>
            </td>
        </tr>
}
    </tbody>
</table>
